<form
		novalidate
		[formGroup]="fg"
		(ngSubmit)="guardar(nombre.value, url.value)">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control"
    		id="nombre" placeholder="Ingresar nombre"
    		formControlName="nombre" #nombre>
    	<ul>
    		<li *ngFor="let r of searchResults;">{{r}}</li>
		</ul>
		<div *ngIf="fg.controls['nombre'].hasError('required')"
				class="alert alert-danger" role="alert">
			El nombre es obligatorio!
		</div>
		<div *ngIf="fg.controls['nombre'].hasError('invalidNombre')"
        class="alert alert-danger" role="alert">
      El nombre es invalido!
    </div>
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')"
        class="alert alert-danger" role="alert">
      El nombre debe tener al menos {{ minLongitud }} caracteres de largo!
    </div>
  </div>
  <div class="form-group">
    <label for="Imagen Url">Imagen Url</label>
    <input type="text" class="form-control"
    		id="imagenUrl" placeholder="Ingresar url"
    		formControlName="url" #url>
  </div>
  <button type="submit" class="btn btn-primary">
      Guardar!
    </button>
</form>