

<h4>Bienvenido {{nombre}} prueba</h4>

<h3>Componente opcion-destino</h3>



<!-- <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
</div> -->